---
import Image from "astro/components/Image.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ProfilePicture from '@assets/images/profile0.png';
import Button from "@components/Button.astro";
import DownloadIcon from "@assets/icons/download.svg?raw";
import AnimatedRevealText from "@components/AnimatedRevealText.astro";
import Link from "@components/Link.astro";
import AnimatedBlurIn from "@components/AnimatedBlurIn.astro";
---

<PageLayout title="Contact">
    <h1 class="text-4xl px-4 py-8"><AnimatedRevealText>Contact</AnimatedRevealText></h1>
    <div class="px-4 pb-8 flex flex-col-reverse md:flex-row gap-8">
        <div class="flex flex-col gap-4 content">
            <p><AnimatedRevealText delay={50}>I'm currently studying full-time Computer Science BSc at the <Link href="https://pg.edu.pl/en" target="_blank">Gdańsk University of Technology</Link> and working part-time as a software engineer at <Link href="https://aspiresys.com/" target="_blank">Aspire Systems</Link>.</AnimatedRevealText></p>
            <p><AnimatedRevealText delay={200}>Although I'm not actively looking for new opportunities, I'm always open to interesting projects and collaborations. Feel free to reach out to me via email or LinkedIn:</AnimatedRevealText></p>
            <ul class="list-disc ps-4">
                <li><AnimatedRevealText delay={250}>Email: <Link href="mailto:stanislaw@nieradko.com" target="_blank" class="pl-2">stanislaw@nieradko.com</Link> (Public GPG key is available: <Link href="/public.asc" target="_blank">here</Link>)</AnimatedRevealText></li>
                <li><AnimatedRevealText delay={300}>LinkedIn: <Link href="https://linkedin.com/in/stanislaw-nieradko/" target="_blank" class="pl-2">Stanisław Nieradko</Link></AnimatedRevealText></li>
            </ul>
            <p><AnimatedRevealText delay={350}>I'm looking forward to hearing from you!</AnimatedRevealText></p>

            <h2><AnimatedRevealText delay={50}>CV</AnimatedRevealText></h2>
            <Button href="https://github.com/KanarekLife/CV/releases/latest/download/cv.pdf" download class="gap-2 h-10 w-fit" delay={250}>
                <Fragment set:html={DownloadIcon} />
                Download my CV
            </Button>
        </div>
        <AnimatedBlurIn>
            <Image src={ProfilePicture} width="600" alt="Me (Stanisław Nieradko)" class="rounded-lg h-full w-full" />
        </AnimatedBlurIn>
    </div>
</PageLayout>

<style>
    .content {
        h2 {
            @apply text-2xl mt-2;
        }
    }
</style>
