---
export interface Props {
    social: {
        type: string;
        url: string;
        name: string;
        icon: string;
    };
    displayName?: boolean;
}

const { social, displayName } = Astro.props;
---

<a href={social.url}
    target="_blank"
    rel="noopener noreferrer"
    class="inline-flex gap-2 h-12 items-center justify-center transition active:scale-95 overflow-hidden hover:scale-110">
    <Fragment set:html={social.icon} />
    { displayName ? <span class="hidden md:block">{social.name}</span> : null}
</a>