---
import config from '@config';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

export interface Props {
    title?: string;
}

function getTitle(): string {
    return Astro.props.title ?? config.title;
}
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{getTitle()}</title>
        { import.meta.env.DEV ? <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/GSDevTools3.min.js" is:inline></script> : null }
        <script>
            import { gsap } from 'gsap';
            import { ScrollTrigger } from 'gsap/ScrollTrigger';
        
            document.querySelectorAll('.hide_before_animation').forEach(element => element.classList.add('opacity-0'));
            gsap.registerPlugin(ScrollTrigger);
            if (import.meta.env.DEV) {
                // GSDevTools is a plugin for GSAP that creates a visual UI for controlling animations. It's only a TRIAL version and should not be used in production.
                gsap.registerPlugin(GSDevTools);
            }
        </script>
    </head>
    <body class="bg-background text-normal flex flex-col">
        <Header />
        <main class="flex-1 w-full 2xl:w-[1536px] 2xl:mx-auto 2xl:px-8">
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style is:global>
    @tailwind base;
    @layer base {
        html, body {
            @apply h-full w-full scroll-smooth;
        }

        a {
            @apply text-primary hover:text-primaryhover;
        }
    }

    @tailwind components;
    @layer components {
        .hide_before_animation {
        }
    }

    @tailwind utilities;
</style>